body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f06, #f79);
    margin: 0;
    direction: rtl;
}

.game-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

#guess-input {
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#guess-button, #start-button, #restart-button {
    padding: 10px 20px;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    transition: background-color 0.3s;
}

#guess-button:hover, #start-button:hover, #restart-button:hover {
    background-color: #218838;
}

#message {
    margin-top: 10px;
    font-size: 18px;
    color: red;
}

#attempts {
    margin-top: 10px;
    font-size: 18px;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}